/.idea/.gitignore
/.venv/.gitignore
/.venv/Scripts/__init__.py
/.venv/__init__.py
/.venv/Scripts/activate
/.venv/Scripts/activate.bat
/.venv/Scripts/activate.fish
/.venv/Scripts/activate.nu
/.venv/Scripts/activate.ps1
/.venv/Scripts/activate_this.py
/.venv/Scripts/deactivate.bat
/.idea/misc.xml
/.idea/modules.xml
/.venv/Scripts/pip.exe
/.venv/Scripts/pip3.12.exe
/.venv/Scripts/pip3.exe
/.venv/Scripts/pip-3.12.exe
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.venv/Scripts/pydoc.bat
/.venv/Scripts/python.exe
/.idea/Python_Core.iml
/.venv/Scripts/pythonw.exe
/.venv/pyvenv.cfg
/.idea/vcs.xml
